node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

.env
.env.test
.env.production

.vscode/
.idea/

.npm/

.eslintcache

*.tsbuildinfo

.DS_Store
Thumbs.db
